<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mobile.bg</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/css/StyleSheet2.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">mobile.bg</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-page="/Index">Home</a></li>
                    <li><a asp-page="/About">About</a></li>
                    <li><a asp-page="/Contact">Contact</a></li>
                    <li><a asp-page="/Cars/Create">Add Car</a></li>
                    <li><a href="https://localhost:44336/Cars">CarList</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - WebApp1</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/Script1.js" asp-append-version="true"></script>
       
        @*Brand-Model Logic*@
        <script type="text/javascript">
            function populate(select1, select2) {
                var select1 = document.getElementById(select1);
                var select2 = document.getElementById(select2);
                select2.innerHTML = "";

                if (select1.value == "Audi") {
                    var optionArray = ["|","A1|A1", "A2|A2", "A3|A3", "A4|A4", "A5|A5", "A6|A6", "A7|A7", "A8|A8"];
                }
                else if (select1.value == "BMW") {
                    var optionArray = ["|", "'315|315", "316|316", "318|318", "320|320", "323|323", "324|324", "325|325", "328|328", "330|330", "335|335"];
                }
                else if (select1.value == "Mercedes-Benz") {
                    var optionArray = ["|", "e200|E 200", "e220|E 220", "e230|E 230", "e240|E 240", "e250|E 250", "e260|E 260", "e270|E 270", "e280|E 280", "e290|E 290", "e300|E 300", "e320|E 320", "e350|E 350"];
                }
                else if (select1.value == "Volvo") {
                    var optionArray = ["|", "s40|S40", "s60|S60", "s70|S70", "s80|S80", "s90|S90", "v40|V40", "v50|V50", "v60|V60", "v70|V70", "v90|V90", "xc40|XC40", "xc60|XC60", "xc70|Xc70", "xc90|Xc90"];
                }
                else if (select1.value == "VW") {
                    var optionArray = ["|", "Bora|Bora", "Caddy|Caddy", "Golf|Golf", "Jetta|Jetta", "Passat|Passat", "Polo|Polo", "Tiguan|Tiguan", "Touareg|Touareg"];
                }

                for (var option in optionArray) {
                    var pair = optionArray[option].split("|");
                    var newOption = document.createElement("option");
                    newOption.value = pair[0];
                    newOption.innerHTML = pair[1];
                    select2.options.add(newOption);
                }
            }
        </script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
